.burgermenu {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(133, 133, 133, 0.5);
    z-index: 8;
  }

.burger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
}

.bar {
    height: 3px;
    width: 100%;
    background: #333;
    transition: all 0.3s ease;
    z-index: 1001;
}

.burger.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.burger.open .bar:nth-child(2) {
    opacity: 0;
}

.burger.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}
.logo {
    display: flex;
    width:100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.nav {
    background: rgba(255, 255, 255, 0.32);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(90, 149, 173, 0.3);
    z-index: 99;
    display: none; /* Hide nav by default */
    position: fixed;
    transition: all 0.3s ease;
    top: 0px;
    right: 0px;
    width: 400px;
    height: 100%;
}

.nav.open {
    display: block;
}

.nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav li {
    padding: 15px;
    text-align: left;
    cursor: pointer;
}

.nav li i {
    text-decoration: none;
    color: #886e11;
}    

.nav li i:hover {
    color: #007bff; /* Change color on hover */
}
