.footerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    bottom:0;
    width:95%;
    height: 150px;
    background-color: rgb(87, 88, 90);
    margin-top: 100px;
}