.navbar {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    z-index: 99;
    position: fixed;
    transition:all 1s ease;
}
.logo {
    position: absolute;
    background-color:black;
    transition:all 1s ease;
    width:90px;
    height:90px;
}
.menu {
    display:flex;
    flex-direction: row;
    align-items: end;
    width:100%;
    justify-content: center;
    border-bottom: 1px solid black;
    transition:all 1s ease;
}
.menu ul {
    display:flex;
    flex-direction: row;
    align-items: center;
    width:100%;
    justify-content: center;
}
.menu li {
    list-style: none;
    margin: 0 10px;
    cursor: pointer;
}
.menu li a {
    font-size: 18px;
    text-decoration: none;
    color: black;
}
.menu li a:hover {
    color: #9c750d;
    text-decoration: underline;
}
.menu li a.active {
    color: blue;
    text-decoration: underline;
    font-style: bold;
}
@media screen and (max-width: 470px) {
    .navbar {
        display: none;
    }
}