.backarrow {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 100px;
    height: 50px;
    cursor: pointer;
}
.postDetailContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
    width:100%;
    height:100%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}
.postMenu {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
    width:200px;
    height:200px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    left:10px;
}
.editButton {
    left: 200px;
    top: 280px;
    width: 100px;
    height: 50px;
    cursor: pointer;
}
.deleteButton {
    left: 200px;
    top: 280px;
    width: 100px;
    height: 50px;
    cursor: pointer;
}
.imgContainer {
}

.postImage img {
    width: 100%;
    height: 100%;
}

.title {

}

.content {
}

